body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

.demon-box {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
}

.button-container {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.view-list-button, .check-stats-button {
  display: inline-block; /* Makes the buttons inline elements */
  padding: 10px 20px;    /* Adds padding for better clickability */
  font-size: 16px;       /* Sets a readable font size */
  text-decoration: none; /* Removes underline from links */
  color: white;          /* Sets text color to white */
  background-color: #007BFF; /* Sets a blue background color */
  border-radius: 5px;    /* Rounds the corners of the buttons */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  margin: 10px; /* Adds margin around the buttons */
}

.homebutton {
    display: inline-block; /* Makes the button an inline element */
    padding: 10px 20px;    /* Adds padding for better clickability */
    font-size: 16px;       /* Sets a readable font size */
    text-decoration: none; /* Removes underline from links */
    color: blue;          /* Sets text color to white */
    border-radius: 5px;    /* Rounds the corners of the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    position: fixed; top: 0; left: 0;
}